@font-face {
    font-family: 'PDark';
    src: url('../font/pdark.ttf');
    font-style: normal;
    -webkit-font-smoothing: none;
}

@font-face {
    font-family: 'Joystix';
    src: url('../font/joystix monospace.ttf');
    font-style: normal;
    -webkit-font-smoothing: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 300px;
}

main.container {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 100%;
    padding: 0;
    text-align: center;
}

div.center {
    width: 100%;
    display: block;
}

.wrap * {
    margin: 0;
    padding: 0;
}

.wrap {
    flex: 1;
    margin: 0 auto;
    max-width: 490px;
}

.wrap canvas {
    margin: 0;
    width: 100%;
    max-width: calc(100% - 10px);
}

.hud {
    font-family: "Joystix";
    font-size: 20px;
    padding: 5px 0;
	display: flex;
}

.hud > div {
	flex: 1;
}

.hud p {
    text-align: center;
}

/* canvas {
    border: 4px #000 solid;
} */

.wrap, canvas {
    border: 1px #000 solid;
}


/* Colors */
body {
    background: #333;
}

.wrap, canvas {
    border-color: #777;
    color: #aaa;
}

.wrap {
    background: #222;
}

#game, #img_assets img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    
    image-rendering: crisp-edges;
}

/* Toast */
#toast-overlay {
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#toast-overlay.focus {
    opacity: 1;
    display: flex;
}

#toast-overlay * {
    display: block;
}

#toast-overlay > div {
    min-width: 300px;
    background: #1d1d1d;
    color: #ccc;
    overflow: hidden;
    box-shadow: 
        0 4px 10px 0 rgba(0, 0, 0, 0.8),
        0 4px 20px 0 rgba(0, 0, 0, 0.8);
    /*border-top: 5px #c51a1a solid;*/
    margin: 0 10px;
}

.progress {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 5px;
}

.progress > div {
    background-color: white;
    height: 100%;
    width: 100%;
    float: right;
}

#toast-overlay .title {
    color: white;
	width: calc(100% - 20px);
    font-weight: 800;
    font-size: 28px;
    padding: 7.5px 10px;
    padding-bottom: 2.5px;
}

#toast-overlay .message {
    font-size: 18px;
    padding: 5px 10px;
}

#toast-overlay #button-container {
    /*background-color: rgba(255, 255, 255, 0.02);*/
    display: flex;
    
}

#toast-overlay #button-container > div {
    margin-left: auto;
    padding: 10px;
}

/* #toast-overlay #button-container > div > button {} */

button {
    display: inline-block !important;
    border: 1px solid white;
    border-radius: 2px;
    background: #1d1d1d;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
}

button:hover, button:active {
    background: white;
    color: #1d1d1d;
}

/* Helpers */
/* .only-mobile {} */

@media (min-width: 768px) {
    .wrap {
        max-width: 731px;
    }
}