@font-face {
    font-family: 'PDark';
    src: url('../font/pdark.ttf');
    font-style: normal;
    -webkit-font-smoothing: none;
}

@font-face {
    font-family: 'Joystix';
    src: url('../font/joystix monospace.ttf');
    font-style: normal;
    -webkit-font-smoothing: none;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    
}

main.container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
    text-align: center;
}

div.center {
    width: 100%;
    display: block;
}

.wrap * {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 auto;
    width: 75vh;
}

.wrap canvas {
    margin: 0;
    width: 100%;
    max-width: calc(100% - 8px);
}

.hud {
    font-family: "Joystix";
    font-size: 20px;
    padding: 5px 0;
}

.hud p {
    text-align: center;
}

canvas {
    /* border: 4px #000 solid; */
}

.wrap, canvas {
    border: 1px #000 solid;
}


/* Colors */
body {
    background: #333;
}

.wrap, canvas {
    border-color: #777;
    color: #aaa;
}

.wrap {
    background: #222;
}

#game, #img_assets img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    
    image-rendering: crisp-edges;
}

/* Helpers */
.only-mobile {
    
}