@font-face {
    font-family: 'PDark';
    src: url('../font/pdark.ttf');
    font-style: normal;
    -webkit-font-smoothing: none;
}

@font-face {
    font-family: 'Joystix';
    src: url('../font/joystix monospace.ttf');
    font-style: normal;
    -webkit-font-smoothing: none;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    
}

main.container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
}

main.container div {
    width: 100%;
    display: block;
    text-align: center;
}

main.container div canvas {
    margin: auto;
    width: 75vh;
    /*height: 75vh;*/
    max-width: calc(100% - 8px);
}

canvas {
    border: 4px #000 solid;
}


/* Colors */
body {
    background: #333;
}

canvas {
    border-color: #999;
}

#game, #img_assets img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    
    image-rendering: crisp-edges;
}

/* Helpers */
.only-mobile {
    
}